.name-surname {
	text-align: center;
}

.menu-option {
	text-align: center;
}

.menu-icon-wrapper {
	vertical-align: middle;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	height: 32px;
	width: 32px;
}

.menu-icon-text {
	color: #23001e !important;
	text-align: center;
	margin-top: .3em;
}

.menu-icon {
	font-size: 3em;
	text-align: center;
	color: #23001e !important;
	height: 32px;
	width: 32px;
}

.menu-option a {
	color: #23001e !important;
	text-align: center;
}

.wrapper {
	min-height: 95vh;
	padding-top: 3em;
}

footer {
	width: 100%;
	height: 4vh;
	display: block;
	position: relative;
	padding: 0 0.5em 1em;
	margin-top: 1vh;
	text-align: center;
	color: whitesmoke;
	font-size: 0.7em;
	background-color: #20a39e;
}

footer hr {
	margin-bottom: 1em;
}

footer a,
footer a:hover,
footer a:active,
footer a:link,
footer a:focus,
footer a:visited {
	color: whitesmoke !important;
}
